# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
lerna-debug.log*

# Diretórios de dependências
node_modules/

# Diretórios de saída de build
dist/
dist-ssr/
build/
.cache/
output/

# Arquivos de configuração de ambiente
.env
.env.local
.env.*.local

# Arquivos sensíveis
*.pem
*.key
*.crt
*.pfx

# Configurações específicas de editores
.vscode/
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.bak

# Arquivos temporários do sistema operacional
Thumbs.db
desktop.ini

# Ignorar lockfiles opcionais
package-lock.json
yarn.lock
pnpm-lock.yaml

# Diretórios usados para caching e build interno
.husky/
.terraform/

# Ignorar arquivos de testes e relatórios de testes
coverage/
*.lcov
.nyc_output/

# Logs de debug ou perfil de performance
*.tgz
*.zip
*.tmp
